NET CLK LOC = K15 | IOSTANDARD = LVCMOS33;
NET RESET LOC = V4 | IOSTANDARD = LVCMOS33 | TIG | PULLDOWN;

NET "CLK" TNM_NET = CLK;
TIMESPEC TS_CLK = PERIOD CLK 66666 kHz;

NET GPIO_LED<0> LOC = P4 | IOSTANDARD = LVCMOS18;
NET GPIO_LED<1> LOC = L6 | IOSTANDARD = LVCMOS18;
NET GPIO_LED<2> LOC = F5 | IOSTANDARD = LVCMOS18;
NET GPIO_LED<3> LOC = C2 | IOSTANDARD = LVCMOS18;

NET "SCL" LOC = F15 | IOSTANDARD = LVCMOS33;
NET "SDA" LOC = F16 | IOSTANDARD = LVCMOS33;

### Set Vccaux for S6LX9 MicroBoard to 3.3V ### CONFIG VCCAUX = "3.3" ;